.imdb-card {
  width: 674px !important;
  height: 700px !important;
}

.imdb-card-button-group {
  width: 100% !important;
  height: 100% !important;
}

.imdb-card-content {
  padding: 0px !important;
  background-color: black !important;
}

.imdb-poster {
  width: 100%;
  height: 100%;
  background-repeat: no repeat !important;
}

.imdb-header {
  background-color: #fbbd08 !important;
  color: black;
}

.imdb-card-button-group > .popup {
  background-color: #fbbd08 !important;
  color: black;
}

.imdb-rate {
  float: right !important;
  color: #fbbd08 !important;
}

.imdb-point {
  color: #fbbd08 !important
}

.imdb-info {
  max-width: 90% !important;
  position: absolute !important;
  bottom: 80px !important;
}
