.detail-section {
  padding-top: 120px;
  margin-left: 30px;
  margin-right: 30px;
}

.detail-card {
  width: 100%!important;
}

.detail-card-div {
  padding-top: 15px;
  padding-bottom: 5px;
}

.detail-buttons {
    padding-top: 10px;
}
