.step-card {
  width: 95% !important;
  margin-top: 50px !important;
}

.step-group {
  width: 100%
}

.uploadButton {
  display: none
}

.dropdown {
  margin: 5px
}

.stepperButtons {
  margin-top: 10px !important
}
