.share-section {
  padding-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
}

.step-card {
  width: 95% !important
}

.step-group {
  width: 100%
}

.uploadButton {
  display: none
}

.dropdown {
  margin: 5px
}

.stepperButtons {
  margin-top: 10px !important
}

.imdb-button {
    width: 100% !important
}
