.sidebar-logo {
  margin-left: 25px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.sidebar-style {
  width: 262.85px!important;
}

.menu-items {
  text-align: center;
  color: white!important;
  padding-top: 20px!important;
  padding-bottom: 40px!important;
}
