.sidebar-logo {

  margin-top: 10px;
  margin-bottom: 30px;
}

.sidebar-style {
  width: 200px !important;
  background-color: black !important;
}

.menu-items {
  text-align: center;
  color: white !important;
  padding-top: 20px !important;
  padding-bottom: 40px !important;
}
