body {
  margin: 0;
  padding: 0;
  background-color: #eef3f9!important;
}

#sidebar {
  width: 262.85px;
  position: absolute;
  top: 66px;
  bottom: 0;
  background-color: black!important;
}

#main {
  margin-left: 262.85px;
 }
