body {
  margin: 0;
  padding: 0;
  background-color: #eef3f9!important;
}

#sidebar {
  width: 262.85px;
  position: absolute;
  overflow: hidden; 
  margin-bottom: -5000px; /* any large number will do */
  padding-bottom: 5000px;
  background-color: black!important;
}

#main {
  margin-left: 262.85px;
 }
